# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules 2

/.pnp
.pnp.js

# testing
/coverage

# production
/build
.vscode
.DS_Store
.env
.env.local
node_modules 
package-lock.json
yarn.lock