.login-page-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.login-sidebar {
    background: radial-gradient(circle at 6% 0,#1ac9b5,#35af9b 47%,#35af82);
    height: 100vh;
    text-align: center;
    color: #ffff;
}

.login-sidebar-logo img {
    max-width: 180px;
}

.login-page-inner {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.login-form-container {
    width: 100%;
    padding: 0;
    padding-top: 10rem;
}

.login-form-inner {
    display: grid;
    justify-content: center;
}


.login-button button {
    border:1.5px solid #35af9b !important;
    color:#35af9b !important;
    width: 430px;
}

.sidbar-mid-message {
    padding-top: 10rem;
}

.sidebar-offical-site {
    position: absolute;
    bottom: 0;
    padding: 1rem;
}







@media only screen and (max-width: 770px) {
    .login-sidebar {
        display: none;
    }
}
@media only screen and (min-width: 940px) {
    #auth-layout-body {
        width: 100%;
    }
}