.main-header-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.main-header-inner {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    color: #616161;
}

.main-header-logo-wrapper img {
    width: 165px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-header-dropdowns-inner {
    padding: 1rem;
    padding-left: 3rem;
}


.main-header-stat-bttn-inner {
    padding: .75rem;
}

.right-side-options {
    display: flex;
}