
.dashboard-body-header {
    list-style: none;
    text-align: right;
    padding: .5rem;
    border: 1px solid #d4d4d44a;
}

.dashboard-body-header > span {
    padding-right: 1rem;
}

.dashboard-body-header .dashboard-icon-style {
    font-size: 21px;
    color: #888888;
}

.inner-body-header .badge {
    padding-right: 1rem;
}
