.clock-menu-container {
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.clock-menu-inner {
    padding: 1rem;
}

.clock-menu-add-button {
    width: 100%;
    padding: 1rem;
}

.clock-menu-options-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center !important;
}

.clock-menu-option-list {
    width: 100%;
    padding: 0.5rem;
}

